*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    text-align: center;
}

h1{
    font-size:50px;
}
p{
    font-weight: bold;
    text-transform: uppercase;

}
img{
    border-radius: 25px;
}